@model ClientVehicleForAddEditViewModel

@{
    ViewData["Title"] = "Add New Client";
}


@section Styles {
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
}


<div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title">Add Client</h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="Client" asp-action="Index">Clients</a>
                </li>
                <li class="breadcrumb-item active">
                    <a asp-controller="Client" asp-action="AddClient">Add New Client</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-form">Add New Client</h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <form class="form" id="client-vehicle-form" method="post" enctype="multipart/form-data" >
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput1">Surname</label><span class="text-danger">*</span>
                                        <input type="text" id="projectinput1" class="form-control" asp-for="ClientForAddVm.Surname" placeholder="Surname" />
                                        <span asp-validation-for="ClientForAddVm.Surname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput2">Othername(s)</label><span class="text-danger">*</span>
                                        <input type="text" id="projectinput2" class="form-control" asp-for="ClientForAddVm.Othername" placeholder="Othername(s)" />
                                        <span asp-validation-for="ClientForAddVm.Othername" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput3">E-mail</label>
                                        <input type="text" id="projectinput3" class="form-control" placeholder="E-mail" asp-for="ClientForAddVm.Email" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput4">Contact Number</label><span class="text-danger">*</span>
                                        <input type="text" id="projectinput4" class="form-control" placeholder="+233247678543" asp-for="ClientForAddVm.Cellphone" />
                                        <span asp-validation-for="ClientForAddVm.Cellphone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput3">Postal Address</label>
                                        <input type="text" id="projectinput3" class="form-control" placeholder="P.O.Box KS123, Kumasi" asp-for="ClientForAddVm.PostalAddress" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput4">Residential Address</label>
                                        <input type="text" id="projectinput4" class="form-control" placeholder="45 Kofi Annan St, Accra, Ghana" asp-for="ClientForAddVm.ResidentialAddress" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput3">Birth Date</label>
                                        <input type="date" id="projectinput3" class="form-control" placeholder="22/10/1990" asp-for="ClientForAddVm.BirthDate" />
                                        <span asp-validation-for="ClientForAddVm.BirthDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput5">Zone</label>
                                        <select id="projectinput5" class="form-control" asp-for="ClientForAddVm.ZoneId" asp-items="@ViewBag.ZoneList" >
                                            <option value="none" selected="" disabled="">Select Zone</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput3">Name of Employer</label>
                                        <input type="text" id="projectinput3" class="form-control" placeholder="Eg. Tullow Oil" asp-for="ClientForAddVm.Employer" />
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section"><i class="la la-car"></i> Vehicle Details </h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput5">Make</label><span class="text-danger">*</span>
                                        <select id="projectinput5" class="form-control"  asp-items="@ViewBag.MakeList" >
                                            <option value="none" selected="" disabled="">Select Make</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput5">Model</label><span class="text-danger">*</span>
                                        <select id="projectinput5"  class="form-control" asp-for="VehicleForAddVm.ModelId" asp-items="@ViewBag.ModelList" >
                                            <option value="none" selected="" disabled="">Select Model</option>
                                        </select>

                                        <span asp-validation-for="VehicleForAddVm.ModelId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput6">Color</label>
                                        <select id="projectinput6" class="form-control" asp-for="VehicleForAddVm.ColourCode" asp-items="@ViewBag.ColourList" >
                                            <option value="0" selected="" disabled="">Select Color</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput2">Registration Number</label><span class="text-danger">*</span>
                                        <input type="text" id="projectinput2" class="form-control" placeholder="Registration Number" asp-for="VehicleForAddVm.RegistrationNo" />

                                        <span asp-validation-for="VehicleForAddVm.RegistrationNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput3">Insurance Date</label><span class="text-danger">*</span>
                                        <input type="date" id="projectinput3" asp-for="VehicleForAddVm.InsuranceDate" class="form-control" placeholder="22/10/1990" />

                                        <span asp-validation-for="VehicleForAddVm.InsuranceDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput6">Vehicle Type</label><span class="text-danger">*</span>
                                        <select id="projectinput6" class="form-control" asp-for="VehicleForAddVm.TypeId" asp-items="@ViewBag.VehicleTypeList">
                                            <option value="0" selected="" disabled="">Select Type</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" class="btn btn-warning mr-1" id="cancel-button">
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <i class="la la-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic form layout section end -->
</div>

@section Scripts {
    <script src="~/js/client-vehicle-add.js" asp-append-version="true"></script>
}